/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
/*
=============== 
Variables
===============
*/
:root {
  --clr-main: rgba(0, 0, 0);
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  background: black;
  color: var(--clr-primary-10);
  height: 100%;
}

h1,
h2,
h3 {
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

ul {
  text-decoration: none;
}

li {
  text-decoration: none;
}

.carousel {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide[data-active] {
  opacity: 1
}

.landing__page {
  height: 100%;
  width: 100%;
}

.landing__page h1 {
  color: #fff;
  position: absolute;
  top: 47%;
  left: 45%;
  opacity: 0;
  animation: fade-in 1s ease-in forwards 2 alternate;
}


@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(0);
  };
  25% {
    opacity: 0.25;
    transform: translateY(25%);
  }
  50% {
    opacity: 0.50;
    transform: translateY(25%);
  }
  75% {
    opacity: 0.75;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: translateY(25%);
  }
  
}

.toggle {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: 1px solid white;
  background-color: #fff;
  animation: pulse 1s ease-in;
  cursor: pointer;
}

.left__toggle {
  position: absolute;
  top: 50%;
  left: 5%;
}

.left__toggle:hover {
  animation: pulse 1s ease-in forwards infinite;
}

.right__toggle {
  position: absolute;
  top: 50%;
  right: 5%;
}

.right__toggle:hover {
  animation: pulse 1s ease-in forwards infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.75
  }
  25% {
    transform: scale(1.25);
    opacity: 0.75
  }
  25% {
    transform: scale(1.50);
    opacity: 0.50
  }
  25% {
    transform: scale(1.75);
    opacity: 0.25
  }
  25% {
    transform: scale(2);
    opacity: 0
  }
}

ul[data-slides] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right__panel {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  position: absolute;
  height: 100%;
  width: 50%;
  padding: 0;
  right: 0%;
  overflow: scroll;
}

.right__panel .tile {
  margin: 0;
  padding: 0
}

.left__panel {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0%;
}

/*
==========
grid-column classes
==========
*/

.grid-column-span-1 {
  grid-column: span 1;
}

.grid-column-span-2 {
  grid-column: span 2;
}

.grid-column-span-3 {
  grid-column: span 3;
}


/* 
============
tile classes
============
*/

.project__tile {
  height: 250px;
  width: 500px;
  position: relative;
  border: 1px solid white;
}

.project__tile > .ribbon {
  height: 50px; 
  width: 25px;
}

.git {
  position: absolute;
  top: 0%;
  right: 15%;
}

.deployed {
  position: absolute;
  top: 0%;
  right: 10%;
}

.project__tile > .background__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}